body {
    font-family: Arial, sans-serif;
    text-align: center;
/*    background-color: #f0f0f0; */
    background-color: lightblue; /* You can change 'lightblue' to any color */
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}
