body {
    font-family: Arial, sans-serif;
    text-align: center;
/*    background-color: #f0f0f0; */
    background-color: lightblue; /* You can change 'lightblue' to any color */
}

section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    color: #333;
}
p {
    font-size: 16px;
    color: #555;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}
